<div class="container">
	<%= simple_form_for pet do |f| %>
		<%= f.input :name %>
		<%= f.input :address %>
		<%= f.input :species, collection: Pet::SPECIES %>
		<%= f.input :found_on %>
		<%= f.submit %>
	<% end %>
</div>